
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 14px;
    font-weight: normal;
    // background-image: url("https://imgres.golue.com/golue/130/649018-20210419142906607d23327f756.jpg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
}

nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
}